{% extends "templates/base.twig" %}

{% block css1 %}"/assets/styles/itemlist.css"{% endblock %}

{% block title1 %}CENTRAL MARKET{% endblock %}

{% block body1 %}

<nav class="navbar navbar-dark bg-dark">

    <li class="nav-item">
        <span id="email">Logged in as : <span>{{ email }}</span></span>
    </li>
    <li class="nav-item">
        <form action="/" method="POST" class="logout-form">
            <button class="btn btn-secondary logout-btn">LOGOUT</button>
        </form>
    </li>

</nav>

<h1>CENTRAL MARKET</h1>

    <table class="table table-dark table-striped" border="1">
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Cost(per Kg)</th>
            <th>Requested Quantity</th>
            <th>Remove from cart</th>
        </tr>
        {% set total=0 %}
        {% for item in items %}
        {% set total = total + item.qreq * item.cost %}
        {% if item.qreq>0 %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>₹ {{ item.cost }}</td>
            <td>{{ item.qreq }}</td>
            <td>
            <form action="/removefromcart" method="POST">
                <button class="btn btn-danger">Remove from cart</button>
                <input type="hidden" name="iditem" value="{{ item.id }}">
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        
        

    </table>
    <table class="table total table-dark">
        <tr>
            <td>Total Cost : ₹ {{total}}</td>
        </tr>
    </table>
<div class= "flex-container">
 <div>   <a href="/itemlist-user"><button class="btn btn-lg btn-primary" style = "height:80px">Go back</button></a></div>
  <div>  <a href="/payment"><button class="btn btn-lg btn-warning">Place Order</button></a></div>
</div>    
{% endblock %}